/*body {*/
	/*height:100%;*/
	/*width:100%;*/
	/*display: table;*/
	/*margin:0;*/
	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
	/*color: #00B7FF;*/
/*}*/

body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}
.movie-list {
	top: 0;
	bottom: 0;
	background: #333;
}

.offscreen-nav {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	background: #333;
	visibility: hidden;
	width: 12rem;
}

.offscreen-nav-show {
	visibility: visible;
}

.page-wrap {
	width: 100%;
	float: right;
}

.offscreen-nav-left-push {
	-webkit-transform: translateX(-12rem);
	-ms-transform: translateX(-12rem);
	-o-transform: translateX(-12rem);
	transform: translateX(-12rem);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.offscreen-nav-left-push.offscreen-nav-show {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offscreen-nav-left-push ~ .container-narrow {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.offscreen-nav-left-push.offscreen-nav-show ~ .container-narrow {
	-webkit-transform: translateX(12rem);
	-ms-transform: translateX(12rem);
	-o-transform: translateX(12rem);
	transform: translateX(12rem);
}

img { width: 25px; height: 25px; padding-right: 10px;}
.ui-autocomplete > li { height: 40px; }


#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
