div(class='panel panel-#{panel_index} invisible')
    for side in ['front', 'back']
        section(class='#{side}')
            section.movie-image1
            section.movie-image2
            section.panel-info-wrap
                section.panel-info
                    .rating
                    .panel-title
                    .panel-description
                    button.panel-trailer &#xF16A; Play Trailer
                    button.panel-vote &#xF046; Vote for This
