doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style-event.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
        script(type='text/javascript', src='//connect.facebook.net/en_US/all.js')
        script(type='text/javascript', src='/javascripts/libs/socket.io.js')
        script(type='text/javascript', src='//fgnass.github.io/spin.js/dist/spin.min.js')
        script(type='text/javascript', src='/javascripts/app/fetchdata.js')
        script(type='text/javascript', src='/javascripts/app/movienight.js')
    svg(style='height: 0px;top: -100px;position: absolute')
        filter#blur-effect-1
            feGaussianBlur(stdDeviation='8', in='SourceGraphic')
    body
        block content
