extends layout
block content
    .page-wrap
        h1= title
        if (everyauth.facebook)
            h3 Welcome to #{title}, #{everyauth.facebook.user.name}
        else
            #fb-login.fb_button(style='background-position: left -188px')
                a.fb_button_medium(href='/auth/facebook')
                    span#fb_login_text.fb_button_text Login with Facebook
        a(href='/createEvent') Create Event
        div#fb-root
