extends layout
block content
    nav.offscreen-nav
        h4 Navigation
    .page-wrap
        h1= title
        p Welcome to #{title}
        .recommand-movie
        nav.movie-list
            h4 Navigation
        #fb-login.fb_button(style='background-position: left -188px')
            a.fb_button_medium(href='/auth/facebook')
                span#fb_login_text.fb_button_text
                    Connect with Facebook           h4 Navigation
    div#fb-root
