doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/styletest.css')
    body
        block content
            #rotate
                #content
                    #wrapper
        script(type='text/javascript', src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(type='text/javascript', src='/javascripts/libs/socket.io.js')
        script(type='text/javascript', src='/javascripts/libs/Stats.js')
        script(type='text/javascript', src='/javascripts/app/test.js')
