<div class="panel panel-{{panel_index}}">
	<section class="front">
		<section class="movie-image1">
		</section>
		<section class="movie-image2">
		</section>
		<section class="panel-info-wrap">
			<section class="panel-info">
				<div class="rating">
				</div>
				<div class="panel-title">
				</div>
				<div class="panel-pg-rate">
				</div>
				<div class="panel-description">
				</div>
				<button class="panel-trailer">&#xF16A; Play Trailer</button>
				<button class="panel-vote">&#xF046; Vote for This</button>
			</section>
		</section>
	</section>

	<section class="back">
		<section class="movie-image1">
		</section>
		<section class="movie-image2">
		</section>
		<section class="panel-info-wrap">
			<section class="panel-info">
				<div class="rating">
				</div>
				<div class="panel-title">
				</div>
				<div class="panel-pg-rate">
				</div>
				<div class="panel-description">
				</div>
				<button class="panel-trailer">&#xF16A; Play Trailer</button>
				<button class="panel-vote">&#xF046; Vote for This</button>
			</section>
		</section>
	</section>
</div>
