<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Template · Bootstrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

		<SocketStream/>
		<style type="text/css">
			#css-filter-blur:hover { filter: url(#blur-effect-1); }
			.movie-image2{ filter: url(#blur-effect-1); }
		</style>
		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="http://twitter.github.io/bootstrap/assets/ico/favicon.png">
	</head>
	<svg style="height: 0px;top: -100px;position: absolute">
		<filter id="blur-effect-1">
			<feGaussianBlur stdDeviation='8' in="SourceGraphic"/>
		</filter>
	</svg>
	<body>
		<nav class="offscreen-nav" id="offscreen-nav">
				<button id="invite-new-friend" style="
					background: rgba(0,0,0,0);
					border: 1px solid;
					border-radius: 0.5em;
					position: absolute;
					z-index: 4;
					">&#xF067;</button>
			<div class="offscreen-showfriend">
			</div>


			<div class="offscreen-addfriend" id="offscreen-addfriend">
				<form class="form-search">
					<input type="text" class="input-medium search-query" id="select" >
				</form>

				<ul id="sortable">
				</ul>
			</div>
		</nav>
		<button  href="#button" class="meny-arrow">&#xF0DA;
		</button>
		<div class="container-narrow">
			<div class="recommand-movie-table">
				<div class="" id="title-bar">
					<div class="row">
						<h1>Movie Night</h1>
					</div>
				</div>
				<div class="movie-container" >
					<div class="panel panel-0">
						<section class="front">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
										<h4>The Fast and the Furious 6</h4>
									</div>
									<div class="panel-pg-rate">
										PG-13
									</div>
									<div class="panel-description">
										<p>Hobbs has Dom and Brian reassemble their crew in order to take down a mastermind who commands an organization of mercenary drivers across 12 countries. Payment? Full pardons for them all.</p>
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>

						<section class="back">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>
					</div>
					<div class="panel panel-1">
						<section class="front">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>

						<section class="back">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>
					</div>
					<div class="panel panel-2">
						<section class="front">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>

						<section class="back">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>
					</div>
					<div class="panel panel-3">
						<section class="front">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>

						<section class="back">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>
					</div>
					<div class="panel panel-4">
						<section class="front">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>

						<section class="back">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>
					</div>
					<div class="panel panel-5">
						<section class="front">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>

						<section class="back">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>
					</div>
					<div class="panel panel-6">
						<section class="front">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>

						<section class="back">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>
					</div>
					<div class="panel panel-7">
						<section class="front">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>

						<section class="back">
							<section class="movie-image1">
							</section>
							<section class="movie-image2">
							</section>
							<section class="panel-info-wrap">
								<section class="panel-info">
									<div class="rating">
									</div>
									<div class="panel-title">
									</div>
									<div class="panel-description">
									</div>
									<div class="panel-pg-rate">
									</div>
									<button class="panel-trailer">&#xF16A; Play Trailer</button>
									<button class="panel-vote">&#xF046; Vote for This</button>
								</section>
							</section>
						</section>
					</div>
				</div>
			</div>
			<div class="selected-movie-list">
			</div>
		</div>

	</body>
</html>
