<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Movie Night</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

		<SocketStream/>
		<style type="text/css">
			#css-filter-blur:hover { filter: url(#blur-effect-1); }
			.movie-image2{ filter: url(#blur-effect-1); }
		</style>
		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="http://twitter.github.io/bootstrap/assets/ico/favicon.png">
	</head>
	<svg style="height: 0px;top: -100px;position: absolute">
		<filter id="blur-effect-1">
			<feGaussianBlur stdDeviation='8' in="SourceGraphic"/>
		</filter>
	</svg>
	<body>
		<nav class="offscreen-nav" id="offscreen-nav">
			<button class="invite-new-friend" id="invite-new-friend" style="
				background: rgba(2,2,2,0.1);
				border: 1px solid;
				margin: 0 auto;
				width: 20em;
				color: #ccc;
				">&#xF067; Invite Friends</button>
			<div class="offscreen-showfriend">
                <div id="friends_status_view">
                    <ul id="final_selected_list">
                    </ul>
                </div>
			</div>


			<div class="offscreen-addfriend" id="offscreen-addfriend" align="center">
				<form class="form-search">
					<input type="text" class="input-medium search-query" id="select" >
				</form>

				<ul id="sortable">
				</ul>
				<button class="invite-new-friend-close-cancel" style="position: absolute; z-index: 4; right: 50xp; ">Cancel</button>
				<button class="invite-new-friend-close" style="position:absolute; z-index:4; left:10px">Send Invitation</button>

			</div>
		</nav>
		<button  href="#button" class="meny-arrow">&#xF0DA;</button>
		<div class="container-narrow">
			<div class="" id="title-bar">
				<img src="/images/logo.png" style="float:left; width:200px"><img>
				<div class="btn-group" data-toggle="buttons-radio">
					<button name="type" type="button" class="btn" value="">Home</button>
					<button name="type" type="button" class="btn" value="action">Action</button>
					<button name="type" type="button" class="btn" value="adventure">Adventure</button>
					<button name="type" type="button" class="btn" value="drama">Drama</button>
					<button name="type" type="button" class="btn" value="comedy">Comedy</button>
				</div>
				<form class="form-search" style="text-align:right;" >
					<div class="input-append">
						<input type="text" class="filter">
						<button type="submit" class="btn"><i class="icon-search"></i></button>
					</div>
				</form>
			</div>
			<div class="recommand-movie-table">
				<div class="movie-container" >
				</div>
			</div>
			<div class="selected-movie-list">
				<div class="wrap-list">
					<div class="list-title">Top Contenders</div>
					<ul class="voting">
<!--<li class="ui-state-default" ><div class="ui-state-inner"> <a class="upvote"><button class="btn"><i
class="icon-arrow-up"></i></button></a><span1 class="1034303">1</span1><a class="downvote"><button class="btn"><i
class="icon-arrow-down"></i></button></a></div><img class="movie-avatar friend-avatar"
src="http://content8.flixster.com/movie/10/87/76/10877622_det.jpg"><div style="width: 145px;float: left;"><button
class="blue-button">1-Click Buy</button></div></li>-->
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
